@charset "UTF-8";
@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

#blind { 
    position:absolute; 
    top:-99999px; 
    left:-99999px; 
    font-size:1px; 
    line-height:1px; 
    width:1px; 
    height:1px; 
    overflow:hidden;
}


body {font-family: 'NeoDunggeunmo';
    }
li {
    list-style: none;
}
a {
    text-decoration: none;
    color:#303030
}
main {
    width:100%; 
    height:100vh; 
    display:flex;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#wrap {
    position: absolute;
    width:100%;
    height:100vh; 
    overflow: hidden;
    z-index: -1;
}

.background img {
    width:100%; 
    height:100vh; 
} 

.animation {
    width:100%; 
    height:400px;
    position: absolute;
    bottom:0;
    left: 0;
}
.animation .cloud , .animation .cloud2 {
    position: absolute;
    width:120%;
    bottom: 0;
    z-index: 1;
}
.animation .cloud {
    left:0%;
    animation: move 5s infinite linear;
}
.animation .cloud2 {
   right: -100%;
    animation: move2 5s infinite linear;
}
.animation .hills , .animation .hills2 {
    position: absolute;
    width:120%;
    bottom: 0%;
}
.animation .hills {
    left:0%;
    animation: move 30s infinite linear;
}
.animation .hills2 {
    right: -100% ;
    animation: move2 30s infinite linear;
}


@keyframes move {
   
    0% { left:0%;}
    100% { left:-100%;}
}
@keyframes move2 {
   
    0% { right:-100%;}
    100% { right:0%;}
}

.selec_ch{
    width:25%; 
    padding:10vh 6vw;
    flex-wrap:wrap; 
    justify-content:center;
    z-index: 30;
    text-align: center;
}
.selec_ch .header_in {
    text-align:center; 
    width:15vw; 
    height:9vh;
    background-image: url('../img/start.png');
    animation:press 1.5s infinite;
    background-size: 100%;
    background-repeat: no-repeat;
}
.selec_ch .header_in:hover {
    background-image: url('../img/start_p.png');
}
@keyframes press{
    0% {background-image: url('../img/start.png');}
    49% {background-image: url('../img/start.png');}
    50% {background-image: url('../img/start_p.png');}
    100% {background-image: url('../img/start_p.png');}
}

.selec_ch .pressThebtn p {
    margin: 30px 0 0;
    font-size: 22px;
    color:#636363;
    position: relative;
    text-align: left;
}
.selec_ch .pressThebtn p:nth-child(1) {
    margin-top: 60px;
}
.selec_ch .pressThebtn p::before {
    display: block;
    content: "";
    background-image: url("../img/arrow.png");
    position: absolute;
    top:6px;
    left:0px;
    width:18px;
    height:18px;
    background-size: 100%;
}
.selec_ch .pressThebtn a {
    margin-left: 20px ;
}

.selec_ch .underName {
    width:15vw; 
}
.selec_ch .underName img {
    width:100%;
}
.selec_ch address {
    margin: 40px  auto 0;
    width:300px;
    font-style: unset;
    color:#2b2b2b;
    text-align: left;
}
.selec_ch h3 {
    padding:30px 15px;
    color:#ff35b5;
    font-size: 24px;
}
.selec_ch p {
    color:#4a4a4a;
    padding:5px 15px;
    font-size: 20px;
}
.selec_ch strong {
    color:#ff35b5;
    padding: 0;
    font-size: 20px;
    margin-top: 10px;
}



#screen {
    margin:100px auto ;
    text-align: center;
}
#screen .menubar ul {
    position: absolute;
    right:470px;
    display: inline-block;
}
#screen .menubar li {
    float: left;
    margin: 0 10px;
}
#screen .menubar li img {
    width:70px;
}
#screen .menubar li img:hover {
    width:90px;
}
#screen .screen_back{ 
    position: absolute;
    right:200px;
    top:190px;
    width:1100px;
    height:600px;
    background-image:url("../img/popup_screen.png");
    background-size:100%;
    background-repeat: no-repeat;
}



#hide {
    display: none;
}
.charactor {
    text-align: center;
    margin: 80px auto;
    width:200px;
    animation:upDown 1s infinite linear;
    position: absolute;
    left:100px;
    bottom:10px;
    z-index: 10;
}
.charactor img {
    width:100%;
}
@keyframes upDown{
    0% { margin: 80px auto;}
    49% { margin: 80px auto;}
    50% { margin: 60px auto;}
    100% { margin: 60px auto;}
}
.moveHeart {
    overflow: hidden;
    position: absolute;
    width:85%;
    height:5vh;
    left:200px;
    bottom:100px;
}
.moveHeart img {
    position: absolute;
    height:100%;
    
}
.moveHeart img.three {
    left:0;
    animation: move 5s infinite linear;
}
.moveHeart img.two {
    right: -100% ;
    animation:move2 5s infinite linear;
}




section {
    z-index: 15;
}
.screen_pic {
    position: absolute;
    top:220px;
    right:300px;
    width:1000px;
    height:600px;
    z-index: 150;
}
.screen_pic div .imac {
    width:650px;
    position:absolute;
    bottom:130px;
    left:0px;
    animation:popMac 1s; 
}
@keyframes popMac {
    0% { left:-200px; opacity: 0;}
    100% { left:0px; opacity:1;}
}
.screen_pic .phone {
    width:550px;
    position:absolute;
    bottom:130px;
    left: 330px;
    animation:popPhone 1.5s; 
}
@keyframes popPhone {
    0% { left:0px; opacity: 0;}
    100% { left:330px; opacity:1;}
}
section .thumb .hide {
    display:none;
}
.screen_pic h2 {
    color:#5e5e5e;
    font-size: 30px;
    position:absolute;
    top:60px;
    right:0px;
    animation:txts 0.5s; 
}
.screen_pic h4 {
    color:#8d8d8d;
    font-size: 20px;
    position:absolute;
    top:95px;
    right:0px;
    font-weight: lighter;
    animation:txts 1s; 
}
.screen_pic h3 {
    font-size: 14px;
    font-weight: lighter;
    position:absolute;
    right:0px;
    top:130px;
    color:#ff35b5;
    animation:txts 1.5s; 

}
.screen_pic .site_txt {
    line-height: 20px;
    position:absolute;
    right:0px;
    top:160px;
    font-size: 11px;
    text-align: right;
    animation:txts 2s; 
}
.screen_pic .site_txt span {
    font-size: 13px;
    color:blue
    
}
.screen_pic p {
    position:absolute;
    right:0px;
    animation:txts 3s; 
}
@keyframes txts {
    0% { right:-200px; opacity: 0;}
    100% { right:0px; opacity:1;}
}

.screen_pic p.web {
    bottom:200px;
}
.screen_pic p.mobile {
    bottom:250px;
}
.screen_pic p::before {
    display: block;
    content: "";
    background-image: url("../img/arrow.png");
    position: absolute;
    top:0px;
    left:-30px;
    width:16px;
    height:16px;
    background-size: 100%;
}


.yellow .introduce img {
    position:absolute;
    right:300px;
    top:190px;
    width:900px;}
    
    
.yellow .introduce a {
    position: absolute;
    right:500px ;
    z-index: 60;
}
.yellow .introduce a.resume {
    top:655px;
    padding: 5px 20px
}

.yellow .introduce a.git {
    top:705px;
    padding: 5px 20px
}

.pink .charactor img {
    width:13vw;
}


.blue {}

.purple {}

.sky .screen_pic .imac {
}

.orange .charactor img {
    width:12vw;
}